<md-toolbar color="primary">Turtle command</md-toolbar>
<app-turtle-grid (finalPos)="showPos($event)" (obstacles)="showObs($event)"></app-turtle-grid>

<section *ngIf="Obstacles" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h3>List of Obstacles</h3>
<div *ngFor="let Obstacle of Obstacles;let idx=index"  >
  <p>( {{Obstacle.posX}}, {{Obstacle.posY}} )</p>
</div>
</section>

<section>
<div *ngIf="FinalPos"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h3>Final Position</h3>
  <p>{{FinalPos.posX}}</p>
  <p>{{FinalPos.posY}}</p>
  <p>{{FinalPos.dir}}</p>
</div>
</section>
